@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:ital,wght@0,300;1,300&family=Russo+One&display=swap');

* {
  margin: 0;
  padding: 0;
  /* font-family: 'Poppins', sans-serif; */
  /* font-family: 'Permanent Marker', cursive; */
  font-family: 'Russo One', sans-serif;
}

.App {
  margin: 30px auto;
}

.form-inline {
  align-items: center;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  border: 1px black solid;
  width: 500px;
  margin: 30px auto;
  padding: 15px;
  border-radius: 5px;
  color: orange;
  font-size: 48px;
  /* font-weight: bold; */
  background-color: black;
}

/* .headerWrap {
  border: 1px black solid;
  width: 400px;
  margin: 0 auto;
} */

label, input, select {
  margin-right: 20px;
}

label {
  font-size: 25px;
}

input {
  padding: 7px;
  border-radius: 5px;
  background-color: rgb(231, 229, 229);
  border: rgb(231, 229, 229);
  width: 100px;
  height: 45px;
  text-align: center;
  font-size: 23px;
}

select {
  /* padding: 11px 0 11px 50px;
   */
  padding: 8px 0 8px 40px;
  font-size: 23px;
  border-radius: 5px;
  background-color: rgb(231, 229, 229);
  border: rgb(231, 229, 229);
  width: 170px;
}

button {
  margin-top: 5px;
  font-weight: bold;
}

.planetDisplay, .peopleDisplay {
  text-align: center;
  margin-top: 30px;
  font-size: 30px;
}

.h2 {
  margin: 40px auto 15px;
  font-size: 40px;
  color: rgb(60, 59, 59);
}

.divider {
  border-bottom: 3px rgb(104, 103, 103) solid;
  width: 280px;
  margin: 0 auto 20px;
}

span {
  font-size: 24px;
  font-weight: 200;
  color: rgb(75, 74, 74);
  text-transform: capitalize;
}

h3 {
  color: rgb(75, 74, 74);
}

form {
  margin-bottom: 30px;
}

img {
  margin-left: 200px;
  width: 70%;
}